body{
    background-color:#5c0297  !important;
}

.check_header{
    color: #0D530E;
    margin-top:20px;
    margin-bottom:40px;
}

.check_form{
    display: inline;
    padding: 20px;
    margin: 0 200px;
    border: 2px solid #0D530E;
    border-radius: 40px;
    background-color: #FBF5DD;
    color: #0D530E;
    font-weight: 600;
    font-size: large;
}
#dateFrom,#DateTo{
    padding-left: 8px;
    margin-right: 15px;
    border: 2px solid #0D530E;
    border-radius: 10px;
    background-color: #FBF5DD;
    color: #0D530E;
    font-weight: 600;
}
.selectForm{
    border: 2px solid #0D530E;
    border-radius: 10px;
    background-color: #FBF5DD;
    color: #0D530E;
}
.sumbitForm{
     border: 2px solid #0D530E;
    border-radius: 10px;
    background-color: #0D530E;
    color: #FBF5DD;
    padding: 10px 20px;
    margin-left: 40px;
}

.sumbitForm:hover{
    background-color: #306D29;

}

.check_table{
    margin-top:50px !important;
   
}

a{
    color: #0D530E !important;
}
a:hover{
    color: #306D29 !important;
}
 th{
    background-color: #E7E1B1 !important ;
    color: #0D530E !important;
    font-size: larger;
}
td{
    background-color: #FBF5DD !important ;
    color: #0D530E !important;
    font-size: large;
    font-weight: 600;
}
caption{
    color: #0D530E !important;
}


